<a href="https://colab.research.google.com/github/noushadkhan01/kansepur-flyash-project/blob/master/bill2/31_12_bill2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/noushadkhan01/kansepur-flyash-project.git

Cloning into 'kansepur-flyash-project'...
remote: Enumerating objects: 47, done.
remote: Counting objects: 100% (47/47), done.
remote: Compressing objects: 100% (42/42), done.
remote: Total 47 (delta 19), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (47/47), done.

In [0]:
import pandas as pd

In [3]:
%cd ./kansepur-flyash-project/bill2/

/content/kansepur-flyash-project/bill2

In [4]:
!ls

 31_12_bill2.ipynb  'kansepur bill2.xlsx'

In [5]:
df = pd.read_excel('kansepur bill2.xlsx', 'Sheet1', columns = ['Date', 'Name', 'Quantity'])
df.head()

        Date   Name  Quantity  kaat
0 2018-12-14  jabir       419   NaN
1        NaT  zakir       436   NaN
2        NaT  amjad       411   NaN
3        NaT  akram       400   NaN
4        NaT   safi       462   NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 4 columns):
Date        14 non-null datetime64[ns]
Name        455 non-null object
Quantity    455 non-null int64
kaat        36 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 14.3+ KB

In [7]:
unique_dates = df.Date.unique()
unique_dates = pd.Series(unique_dates).dropna()
print(unique_dates)

0    2018-12-14
2    2018-12-15
3    2018-12-16
4    2018-12-17
5    2018-12-18
6    2018-12-19
7    2018-12-20
8    2018-12-21
9    2018-12-22
10   2018-12-23
11   2018-12-27
12   2018-12-28
13   2018-12-29
14   2018-12-30
dtype: datetime64[ns]

In [8]:
df.Date.nunique()

14

In [9]:
df.Date.value_counts()

2018-12-27    1
2018-12-30    1
2018-12-16    1
2018-12-19    1
2018-12-22    1
2018-12-28    1
2018-12-21    1
2018-12-14    1
2018-12-17    1
2018-12-20    1
2018-12-23    1
2018-12-29    1
2018-12-15    1
2018-12-18    1
Name: Date, dtype: int64

In [0]:
import numpy as np

In [11]:
df.Date[2]

NaT

In [12]:
pd.isnull(df.Date[2])

True

In [13]:
df.Name.unique()

array(['jabir', 'zakir', 'amjad', 'akram', 'safi', 'farookh', 'gulfam',
       'aarif', 'toheed', 'intazar', 'hasan', 'wazid', 'sehzad',
       'rafakat', 'rasid', 'shabir', 'aashu', 'mustakim', 'kayum',
       'shokeen'], dtype=object)

In [14]:
df2 = df.fillna(0)
df2.head(2)

                  Date   Name  Quantity  kaat
0  2018-12-14 00:00:00  jabir       419   0.0
1                    0  zakir       436   0.0

In [15]:
sum(df2.Quantity)

198417

In [16]:
df.Name.value_counts()

jabir       35
wazid       32
hasan       31
toheed      31
aarif       29
amjad       27
safi        27
intazar     25
farookh     25
gulfam      24
akram       24
sehzad      23
rasid       21
rafakat     21
zakir       19
mustakim    18
shabir      16
aashu       10
kayum        9
shokeen      8
Name: Name, dtype: int64

## unique feets per name

In [17]:
group = df.groupby(df.Name)
group

In [0]:
for i, j in group:
  print(i, j.Quantity.unique(), '\n')

aarif [416. 386.]

aashu [400. 410. 430.]

akram [400. 370. 380. 390.]

amjad [411. 381. 401.]

farookh [409. 379. 399. 420.]

gulfam [500.  nan 480. 450.]

hasan [360.  nan 538.]

intazar [425. 395.  nan 517.]

jabir [419. 389. 409.]

kayum [450.]

mustakim [405.]

rafakat [538. 508. 528. 518.]

rasid [380. 538.]

safi [462. 432. 452.]

sehzad [401. 371. 391. 386.]

shabir [470.]

shokeen [453.]

toheed [486. 456. 476.]

wazid [399. 419. 389. 409.]

zakir [436. 406. 426.]

In [0]:
p