<a href="https://colab.research.google.com/github/noushadkhan01/kansepur-flyash-project/blob/master/bill2/31_12_bill2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/noushadkhan01/kansepur-flyash-project.git

fatal: destination path 'kansepur-flyash-project' already exists and is not an empty directory.

In [0]:
import pandas as pd

In [3]:
%cd ./kansepur-flyash-project/bill2/

/content/kansepur-flyash-project/bill2

In [4]:
!ls

 31-13-bill2.ipynb  'kansepur bill2.xlsx'

In [5]:
df = pd.read_excel('kansepur bill2.xlsx', 'Sheet1', columns = ['Date', 'Name', 'Quantity'])
df.head()

        Date Name  Quantity
0 2018-12-14  NaN     419.0
1        NaT  NaN     436.0
2        NaT  NaN     411.0
3        NaT  NaN     400.0
4        NaT  NaN     462.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 3 columns):
Date        14 non-null datetime64[ns]
Name        425 non-null object
Quantity    415 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 10.7+ KB

In [7]:
df.Name.unique()

array([nan, 'jabir', 'safi', 'hasan', 'intazar', 'akram', 'gulfam',
       'wazid', 'sehzad', 'amjad', 'farookh', 'toheed', 'aarif',
       'rafakat', 'zakir', 'rasid', 'shabir', 'aashu', 'mustakim',
       'kayum', 'shokeen'], dtype=object)

In [14]:
df2 = df.fillna(0)
df2.head(2)

                  Date Name  Quantity
0  2018-12-14 00:00:00    0     419.0
1                    0    0     436.0

In [17]:
sum(df2.Quantity)

181012.0

In [9]:
df.Name.value_counts()

jabir       32
wazid       31
toheed      29
hasan       29
aarif       26
safi        25
amjad       24
intazar     23
farookh     22
sehzad      22
rafakat     21
rasid       21
akram       21
gulfam      21
mustakim    18
shabir      16
zakir       16
aashu       10
kayum       10
shokeen      8
Name: Name, dtype: int64