<a href="https://colab.research.google.com/github/noushadkhan01/kansepur-flyash-project/blob/master/11_mar_to_5_apr_bill/11_mar_to_5_apr_bill6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
!git clone https://github.com/noushadkhan01/kansepur-flyash-project.git

Cloning into 'kansepur-flyash-project'...
remote: Enumerating objects: 94, done.
remote: Counting objects: 100% (94/94), done.
remote: Compressing objects: 100% (88/88), done.
remote: Total 334 (delta 46), reused 0 (delta 0), pack-reused 240
Receiving objects: 100% (334/334), 764.29 KiB | 17.77 MiB/s, done.
Resolving deltas: 100% (154/154), done.

In [0]:
import pandas as pd

In [96]:
%cd ./kansepur-flyash-project/11_mar_to_5_apr_bill/

/content/kansepur-flyash-project/11_mar_to_5_apr_bill/kansepur-flyash-project/11_mar_to_5_apr_bill

In [97]:
!ls

11_mar_to_5_apr_bill6.ipynb  11_mar_to_5_apr.xlsx

In [98]:
df = pd.read_excel('11_mar_to_5_apr.xlsx', 'Sheet1')
df.head()

   S.No.       Date  Counts      Name  Quantity Diesel
0    1.0 2019-03-11     1.0  khurseed       455    NaN
1    2.0        NaT     2.0     jabir       419    NaN
2    3.0        NaT     3.0  khurseed       455    NaN
3    4.0 2019-03-12     1.0  khurseed       455    NaN
4    5.0        NaT     2.0  khurseed       455    NaN

In [99]:
df.tail(2)

     S.No.       Date  Counts     Name  Quantity Diesel
294  295.0 2019-04-05     1.0  shokeen       453    NaN
295    NaN        NaT     NaN      NaN    138693    NaN

In [0]:
df = df[:-1]

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 6 columns):
S.No.       295 non-null float64
Date        24 non-null datetime64[ns]
Counts      295 non-null float64
Name        295 non-null object
Quantity    295 non-null int64
Diesel      12 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 13.9+ KB

In [102]:
unique_dates = df.Date.unique()
unique_dates = pd.Series(unique_dates).dropna()
print(unique_dates)

0    2019-03-11
2    2019-03-12
3    2019-03-13
4    2019-03-14
5    2019-03-15
6    2019-03-16
7    2019-03-17
8    2019-03-18
9    2019-03-19
10   2019-03-22
11   2019-03-23
12   2019-03-24
13   2019-03-25
14   2019-03-26
15   2019-03-27
16   2019-03-28
17   2019-03-29
18   2019-03-30
19   2019-03-31
20   2019-04-01
21   2019-04-02
22   2019-04-03
23   2019-04-04
24   2019-04-05
dtype: datetime64[ns]

In [103]:
df.Date.nunique()

24

In [104]:
df.Date.value_counts()

2019-03-24    1
2019-03-27    1
2019-03-18    1
2019-04-01    1
2019-03-15    1
2019-03-29    1
2019-03-12    1
2019-03-26    1
2019-03-23    1
2019-04-03    1
2019-03-17    1
2019-03-31    1
2019-03-14    1
2019-03-28    1
2019-03-11    1
2019-03-25    1
2019-03-22    1
2019-04-05    1
2019-03-19    1
2019-04-02    1
2019-03-16    1
2019-03-30    1
2019-03-13    1
2019-04-04    1
Name: Date, dtype: int64

In [0]:
import numpy as np

In [106]:
df.Name.unique()

array(['khurseed', 'jabir', 'mustakim', 'haseen', 'rasid', 'gulfam',
       'shokeen', 'hasan', 'isran', 'wajid', 'akran', 'julfan', 'rafakat',
       'tasim'], dtype=object)

In [107]:
total_quantity = sum(df.Quantity)
total_quantity

138693

In [108]:
rounds_per_name = df.Name.value_counts()
rounds_per_name

hasan       48
khurseed    43
julfan      32
mustakim    31
rasid       29
haseen      28
shokeen     25
gulfam      23
rafakat     14
jabir       11
isran        6
wajid        3
akran        1
tasim        1
Name: Name, dtype: int64

In [109]:
sum(rounds_per_name.values)

295

## unique feets per name

In [110]:
group = df.groupby(df.Name)
group

for i, j in group:
  print(i, '\n', j.Quantity, '\n')

In [111]:
for i, j in group:
  print(i, j.Quantity.unique(), '\n')

akran [400]

gulfam [500 450 480 460]

hasan [538 528 488 498]

haseen [496]

isran [470]

jabir [419 404]

julfan [470 490 480 390]

khurseed [455]

mustakim [405 385 355]

rafakat [538]

rasid [410]

shokeen [433 453]

tasim [453]

wajid [419]

# Diesel

In [112]:
diesel = pd.read_excel('11_mar_to_5_apr.xlsx', 'Diesel')
diesel.head()

        Date      Name  Diesel    cash
0 2019-03-11     jabir    2000     NaN
1        NaT  khurseed    2000     NaN
2        NaT     total    4000     NaN
3 2019-03-12  khurseed    2000  1000.0
4        NaT   noushad     500     NaN

In [113]:
diesel.shape

(164, 4)

In [114]:
diesel.Date.unique()

array(['2019-03-11T00:00:00.000000000',                           'NaT',
       '2019-03-12T00:00:00.000000000', '2019-03-13T00:00:00.000000000',
       '2019-03-14T00:00:00.000000000', '2019-03-15T00:00:00.000000000',
       '2019-03-16T00:00:00.000000000', '2019-03-17T00:00:00.000000000',
       '2019-03-18T00:00:00.000000000', '2019-03-19T00:00:00.000000000',
       '2019-03-23T00:00:00.000000000', '2019-03-24T00:00:00.000000000',
       '2019-03-25T00:00:00.000000000', '2019-03-26T00:00:00.000000000',
       '2019-03-27T00:00:00.000000000', '2019-03-28T00:00:00.000000000',
       '2019-03-29T00:00:00.000000000', '2019-03-30T00:00:00.000000000',
       '2019-03-31T00:00:00.000000000', '2019-04-02T00:00:00.000000000',
       '2019-04-03T00:00:00.000000000', '2019-04-04T00:00:00.000000000',
       '2019-03-05T00:00:00.000000000'], dtype='datetime64[ns]')

In [0]:
for n, i in enumerate(diesel.Date.values):
  if not pd.isnull(i):
    date = i
  else:
    diesel.iloc[n, 0] = date

In [116]:
diesel.head()

        Date      Name  Diesel    cash
0 2019-03-11     jabir    2000     NaN
1 2019-03-11  khurseed    2000     NaN
2 2019-03-11     total    4000     NaN
3 2019-03-12  khurseed    2000  1000.0
4 2019-03-12   noushad     500     NaN

# pivot table

In [117]:
pivot_diesel = diesel.pivot_table(index = 'Name', columns = 'Date', values = 'Diesel')
pivot_diesel

Date,2019-03-05 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,2019-03-14 00:00:00,2019-03-15 00:00:00,2019-03-16 00:00:00,2019-03-17 00:00:00,2019-03-18 00:00:00,2019-03-19 00:00:00,...,2019-03-25 00:00:00,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-03-30 00:00:00,2019-03-31 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00,2019-04-04 00:00:00
Name,,,,,,,,,,,,,,,,,,,,,
arsad jcb,NaN,NaN,NaN,NaN,3000.0,2000.0,NaN,2000.0,1500.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gulfam,NaN,NaN,NaN,2000.0,2000.0,NaN,NaN,1500.0,2000.0,NaN,...,2000.0,2000.0,1000.0,1500.0,1500.0,1500.0,2000.0,1500.0,1500.0,2000.0
haroon jcb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3500.0,NaN,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0
hasan,NaN,NaN,NaN,1500.0,NaN,1500.0,2000.0,2000.0,NaN,NaN,...,2000.0,2000.0,NaN,2000.0,1500.0,2000.0,1500.0,2000.0,1500.0,2000.0
haseen,NaN,NaN,NaN,2000.0,2000.0,NaN,1500.0,1500.0,1225.0,NaN,...,NaN,NaN,NaN,2000.0,NaN,2000.0,2000.0,2000.0,NaN,2000.0
isran,NaN,NaN,NaN,NaN,NaN,2000.0,1340.0,NaN,NaN,NaN,...,NaN,2000.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jabir,NaN,2000.0,NaN,2000.0,NaN,2000.0,1500.0,1500.0,NaN,1500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
julfan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2000.0,2000.0,1000.0,1500.0,2000.0,1500.0,2000.0,2000.0,2000.0,2000.0
khurseed,NaN,2000.0,2000.0,NaN,2000.0,1500.0,NaN,2000.0,NaN,NaN,...,1500.0,2000.0,NaN,1500.0,2000.0,1500.0,2000.0,2000.0,2000.0,2000.0
mustakim,NaN,NaN,NaN,NaN,2000.0,NaN,1500.0,NaN,1500.0,NaN,...,NaN,1500.0,NaN,1500.0,1500.0,1500.0,NaN,1500.0,NaN,NaN
noushad,NaN,NaN,500.0,4500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,5500.0,2500.0,NaN,2000.0,1500.0,500.0,4500.0,1000.0,NaN,1500.0
rafakat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1500.0,2000.0,NaN,1500.0,2000.0,1500.0,NaN,NaN,1500.0,NaN
rasid,NaN,NaN,NaN,2000.0,NaN,NaN,2000.0,1500.0,2000.0,NaN,...,NaN,NaN,2000.0,NaN,1500.0,1500.0,2000.0,2000.0,NaN,2000.0
sabir jcb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4000.0,NaN
shokeen,1000.0,NaN,NaN,2000.0,NaN,NaN,1500.0,2000.0,1500.0,NaN,...,NaN,2000.0,NaN,2000.0,NaN,NaN,NaN,2000.0,2000.0,NaN
tasim,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,NaN
total,1000.0,4000.0,3000.0,16000.0,11000.0,9000.0,11340.0,15500.0,9725.0,1500.0,...,14500.0,21500.0,6000.0,19000.0,17000.0,17000.0,19500.0,19500.0,20000.0,17000.0
vijay,NaN,NaN,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wajid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
pivot_diesel.fillna(value = 0, inplace = True)

In [119]:
pivot_diesel.head(2)

Date,2019-03-05 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,2019-03-14 00:00:00,2019-03-15 00:00:00,2019-03-16 00:00:00,2019-03-17 00:00:00,2019-03-18 00:00:00,2019-03-19 00:00:00,...,2019-03-25 00:00:00,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-03-30 00:00:00,2019-03-31 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00,2019-04-04 00:00:00
Name,,,,,,,,,,,,,,,,,,,,,
arsad jcb,0.0,0.0,0.0,0.0,3000.0,2000.0,0.0,2000.0,1500.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
gulfam,0.0,0.0,0.0,2000.0,2000.0,0.0,0.0,1500.0,2000.0,0.0,...,2000.0,2000.0,1000.0,1500.0,1500.0,1500.0,2000.0,1500.0,1500.0,2000.0

In [120]:
pivot_diesel['Total Diesel'] = pd.Series([0 for i in range(len(pivot_diesel))])
pivot_diesel.head(1)

Date,2019-03-05 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,2019-03-14 00:00:00,2019-03-15 00:00:00,2019-03-16 00:00:00,2019-03-17 00:00:00,2019-03-18 00:00:00,2019-03-19 00:00:00,...,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-03-30 00:00:00,2019-03-31 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00,2019-04-04 00:00:00,Total Diesel
Name,,,,,,,,,,,,,,,,,,,,,
arsad jcb,0.0,0.0,0.0,0.0,3000.0,2000.0,0.0,2000.0,1500.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [0]:
for i in range(len(pivot_diesel)):
  pivot_diesel['Total Diesel'][i] = sum(pivot_diesel.iloc[i, 0:-1])

In [122]:
pivot_diesel

Date,2019-03-05 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,2019-03-14 00:00:00,2019-03-15 00:00:00,2019-03-16 00:00:00,2019-03-17 00:00:00,2019-03-18 00:00:00,2019-03-19 00:00:00,...,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-03-30 00:00:00,2019-03-31 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00,2019-04-04 00:00:00,Total Diesel
Name,,,,,,,,,,,,,,,,,,,,,
arsad jcb,0.0,0.0,0.0,0.0,3000.0,2000.0,0.0,2000.0,1500.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8500.0
gulfam,0.0,0.0,0.0,2000.0,2000.0,0.0,0.0,1500.0,2000.0,0.0,...,2000.0,1000.0,1500.0,1500.0,1500.0,2000.0,1500.0,1500.0,2000.0,27000.0
haroon jcb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3500.0,0.0,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0,28000.0
hasan,0.0,0.0,0.0,1500.0,0.0,1500.0,2000.0,2000.0,0.0,0.0,...,2000.0,0.0,2000.0,1500.0,2000.0,1500.0,2000.0,1500.0,2000.0,27500.0
haseen,0.0,0.0,0.0,2000.0,2000.0,0.0,1500.0,1500.0,1225.0,0.0,...,0.0,0.0,2000.0,0.0,2000.0,2000.0,2000.0,0.0,2000.0,18225.0
isran,0.0,0.0,0.0,0.0,0.0,2000.0,1340.0,0.0,0.0,0.0,...,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7340.0
jabir,0.0,2000.0,0.0,2000.0,0.0,2000.0,1500.0,1500.0,0.0,1500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10500.0
julfan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2000.0,1000.0,1500.0,2000.0,1500.0,2000.0,2000.0,2000.0,2000.0,22000.0
khurseed,0.0,2000.0,2000.0,0.0,2000.0,1500.0,0.0,2000.0,0.0,0.0,...,2000.0,0.0,1500.0,2000.0,1500.0,2000.0,2000.0,2000.0,2000.0,27800.0
mustakim,0.0,0.0,0.0,0.0,2000.0,0.0,1500.0,0.0,1500.0,0.0,...,1500.0,0.0,1500.0,1500.0,1500.0,0.0,1500.0,0.0,0.0,14000.0
noushad,0.0,0.0,500.0,4500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2500.0,0.0,2000.0,1500.0,500.0,4500.0,1000.0,0.0,1500.0,27200.0
rafakat,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2000.0,0.0,1500.0,2000.0,1500.0,0.0,0.0,1500.0,0.0,14000.0
rasid,0.0,0.0,0.0,2000.0,0.0,0.0,2000.0,1500.0,2000.0,0.0,...,0.0,2000.0,0.0,1500.0,1500.0,2000.0,2000.0,0.0,2000.0,18500.0
sabir jcb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000.0,0.0,4000.0
shokeen,1000.0,0.0,0.0,2000.0,0.0,0.0,1500.0,2000.0,1500.0,0.0,...,2000.0,0.0,2000.0,0.0,0.0,0.0,2000.0,2000.0,0.0,16000.0
tasim,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000.0,0.0,2000.0
total,1000.0,4000.0,3000.0,16000.0,11000.0,9000.0,11340.0,15500.0,9725.0,1500.0,...,21500.0,6000.0,19000.0,17000.0,17000.0,19500.0,19500.0,20000.0,17000.0,274565.0
vijay,0.0,0.0,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,500.0
wajid,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1500.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1500.0

In [123]:
diesel = pivot_diesel[['Total Diesel']]
diesel

Date        Total Diesel
Name
arsad jcb         8500.0
gulfam           27000.0
haroon jcb       28000.0
hasan            27500.0
haseen           18225.0
isran             7340.0
jabir            10500.0
julfan           22000.0
khurseed         27800.0
mustakim         14000.0
noushad          27200.0
rafakat          14000.0
rasid            18500.0
sabir jcb         4000.0
shokeen          16000.0
tasim             2000.0
total           274565.0
vijay              500.0
wajid             1500.0

# Total Quantity per name

In [0]:
name_groups = df.groupby('Name')
name_total_quantity = pd.DataFrame(columns = ['Name', 'Total Quantity'])
for i, j in name_groups:
  name_total_quantity = name_total_quantity.append({'Name':i, 'Total Quantity': sum(j.Quantity)}, ignore_index = True)
  
name_total_quantity.sort_values(by = ['Total Quantity'], ascending = False, inplace = True)

In [125]:
name_total_quantity

        Name Total Quantity
2      hasan          25714
7   khurseed          19565
6     julfan          15510
3     haseen          13888
8   mustakim          12485
10     rasid          11890
11   shokeen          11305
1     gulfam          11280
9    rafakat           7532
5      jabir           4594
4      isran           2820
13     wajid           1257
12     tasim            453
0      akran            400

In [0]:
diesel.reset_index(inplace = True)

In [127]:
diesel.head(1)

Date       Name  Total Diesel
0     arsad jcb        8500.0

In [128]:
name_total_quantity.shape

(14, 2)

In [129]:
diesel.shape

(19, 2)

In [130]:
names = name_total_quantity.Name.values
names

array(['hasan', 'khurseed', 'julfan', 'haseen', 'mustakim', 'rasid',
       'shokeen', 'gulfam', 'rafakat', 'jabir', 'isran', 'wajid', 'tasim',
       'akran'], dtype=object)

In [131]:
name_total_quantity[name_total_quantity.Name == 'hasan']['Total Quantity'].values[0]

25714

In [0]:
final = pd.DataFrame(columns = ['Name','Counts' , 'Total Quantity', 'Amount', 'Diesel', 'Amount - Diesel'])
for i in names:
    total_quantity = name_total_quantity[name_total_quantity.Name == i]['Total Quantity'].values[0]
    if i in diesel.Name.values:
      total_diesel = diesel[diesel.Name == i]['Total Diesel'].values[0]
    else:
      total_diesel = 0
    final = final.append({'Name': i,'Total Quantity':total_quantity,
                            'Counts':rounds_per_name.get(i),
                            'Amount':total_quantity*3,
                            'Diesel':total_diesel,
                            'Amount - Diesel':total_quantity*3 - total_diesel},
                           ignore_index = True)

In [133]:
final.sort_values(by = 'Total Quantity', ascending = False, inplace = True)
final

        Name Counts Total Quantity Amount   Diesel  Amount - Diesel
0      hasan     48          25714  77142  27500.0          49642.0
1   khurseed     43          19565  58695  27800.0          30895.0
2     julfan     32          15510  46530  22000.0          24530.0
3     haseen     28          13888  41664  18225.0          23439.0
4   mustakim     31          12485  37455  14000.0          23455.0
5      rasid     29          11890  35670  18500.0          17170.0
6    shokeen     25          11305  33915  16000.0          17915.0
7     gulfam     23          11280  33840  27000.0           6840.0
8    rafakat     14           7532  22596  14000.0           8596.0
9      jabir     11           4594  13782  10500.0           3282.0
10     isran      6           2820   8460   7340.0           1120.0
11     wajid      3           1257   3771   1500.0           2271.0
12     tasim      1            453   1359   2000.0           -641.0
13     akran      1            400   1200      0.0           1200.0

In [143]:
final.append({'Name': 'Total', 'Counts': sum(final.Counts), 'Total Quantity':sum(final['Total Quantity']),	'Amount':sum(final.Amount),
              'Diesel':sum(final.Diesel), 'Amount - Diesel':sum(final['Amount - Diesel'])}, ignore_index = True)

        Name Counts Total Quantity  Amount    Diesel  Amount - Diesel
0      hasan     48          25714   77142   27500.0          49642.0
1   khurseed     43          19565   58695   27800.0          30895.0
2     julfan     32          15510   46530   22000.0          24530.0
3     haseen     28          13888   41664   18225.0          23439.0
4   mustakim     31          12485   37455   14000.0          23455.0
5      rasid     29          11890   35670   18500.0          17170.0
6    shokeen     25          11305   33915   16000.0          17915.0
7     gulfam     23          11280   33840   27000.0           6840.0
8    rafakat     14           7532   22596   14000.0           8596.0
9      jabir     11           4594   13782   10500.0           3282.0
10     isran      6           2820    8460    7340.0           1120.0
11     wajid      3           1257    3771    1500.0           2271.0
12     tasim      1            453    1359    2000.0           -641.0
13     akran      1            400    1200       0.0           1200.0
14     Total    295         138693  416079  206365.0         209714.0

In [134]:
final.shape

(14, 6)

In [135]:
final.sum(axis = 0, skipna = True)

Name               hasankhurseedjulfanhaseenmustakimrasidshokeeng...
Counts                                                           295
Total Quantity                                                138693
Amount                                                        416079
Diesel                                                        206365
Amount - Diesel                                               209714
dtype: object

In [136]:
total_q = sum(final['Total Quantity'])
total_q

138693

# Total payable

In [137]:
our_amount = total_quantity*4.25
our_amount

1700.0

In [138]:
total_diesel

0

In [139]:
sabir_jcb = pivot_diesel.loc['sabir jcb']['Total Diesel']
sabir_jcb

4000.0

# Our Balance

In [140]:
balance = our_amount - total_diesel
balance

1700.0

# Tot to People

In [141]:
to_people = total_quantity*3
to_people

1200