<a href="https://colab.research.google.com/github/noushadkhan01/kansepur-flyash-project/blob/master/11_mar_to_5_apr_bill/11_mar_to_5_apr_bill6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/noushadkhan01/kansepur-flyash-project.git

Cloning into 'kansepur-flyash-project'...
remote: Enumerating objects: 86, done.
remote: Counting objects: 100% (86/86), done.
remote: Compressing objects: 100% (80/80), done.
remote: Total 326 (delta 41), reused 0 (delta 0), pack-reused 240
Receiving objects: 100% (326/326), 751.43 KiB | 1.01 MiB/s, done.
Resolving deltas: 100% (149/149), done.

In [0]:
import pandas as pd

In [3]:
%cd ./kansepur-flyash-project/11_mar_to_5_apr_bill/

/content/kansepur-flyash-project/11_mar_to_5_apr_bill

In [4]:
!ls

11_mar_to_5_apr.xlsx

In [5]:
df = pd.read_excel('11_mar_to_5_apr.xlsx', 'Sheet1')
df.head()

   S.No.       Date  Counts      Name  Quantity Diesel
0    1.0 2019-03-11     1.0  khurseed       455    NaN
1    2.0        NaT     2.0     jabir       419    NaN
2    3.0        NaT     3.0  khurseed       455    NaN
3    4.0 2019-03-12     1.0  khurseed       455    NaN
4    5.0        NaT     2.0  khurseed       455    NaN

In [6]:
df.tail(2)

     S.No.       Date  Counts     Name  Quantity Diesel
294  295.0 2019-04-05     1.0  shokeen       453    NaN
295    NaN        NaT     NaN      NaN    138693    NaN

In [0]:
df = df[:-1]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295 entries, 0 to 294
Data columns (total 6 columns):
S.No.       295 non-null float64
Date        24 non-null datetime64[ns]
Counts      295 non-null float64
Name        295 non-null object
Quantity    295 non-null int64
Diesel      12 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 13.9+ KB

In [9]:
unique_dates = df.Date.unique()
unique_dates = pd.Series(unique_dates).dropna()
print(unique_dates)

0    2019-03-11
2    2019-03-12
3    2019-03-13
4    2019-03-14
5    2019-03-15
6    2019-03-16
7    2019-03-17
8    2019-03-18
9    2019-03-19
10   2019-03-22
11   2019-03-23
12   2019-03-24
13   2019-03-25
14   2019-03-26
15   2019-03-27
16   2019-03-28
17   2019-03-29
18   2019-03-30
19   2019-03-31
20   2019-04-01
21   2019-04-02
22   2019-04-03
23   2019-04-04
24   2019-04-05
dtype: datetime64[ns]

In [10]:
df.Date.nunique()

24

In [11]:
df.Date.value_counts()

2019-03-24    1
2019-03-27    1
2019-03-18    1
2019-04-01    1
2019-03-15    1
2019-03-29    1
2019-03-12    1
2019-03-26    1
2019-03-23    1
2019-04-03    1
2019-03-17    1
2019-03-31    1
2019-03-14    1
2019-03-28    1
2019-03-11    1
2019-03-25    1
2019-03-22    1
2019-04-05    1
2019-03-19    1
2019-04-02    1
2019-03-16    1
2019-03-30    1
2019-03-13    1
2019-04-04    1
Name: Date, dtype: int64

In [0]:
import numpy as np

In [13]:
df.Name.unique()

array(['khurseed', 'jabir', 'mustakim', 'haseen', 'rasid', 'gulfam',
       'shokeen', 'hasan', 'isran', 'wajid', 'akran', 'julfan', 'rafakat',
       'tasim'], dtype=object)

In [14]:
total_quantity = sum(df.Quantity)
total_quantity

138693

In [15]:
rounds_per_name = df.Name.value_counts()
rounds_per_name

hasan       48
khurseed    43
julfan      32
mustakim    31
rasid       29
haseen      28
shokeen     25
gulfam      23
rafakat     14
jabir       11
isran        6
wajid        3
akran        1
tasim        1
Name: Name, dtype: int64

In [16]:
sum(rounds_per_name.values)

295

## unique feets per name

In [17]:
group = df.groupby(df.Name)
group

In [18]:
for i, j in group:
  print(i, '\n', j.Quantity, '\n')

akran
 52    400
Name: Quantity, dtype: int64

gulfam
 12     500
25     500
30     450
68     450
81     480
97     480
101    460
104    500
121    480
129    500
137    500
145    480
159    500
161    500
162    500
183    500
202    500
209    500
222    500
244    500
266    500
284    500
290    500
Name: Quantity, dtype: int64

hasan
 16     538
20     538
26     538
31     538
36     538
39     538
41     538
47     538
56     538
64     538
73     538
79     538
87     528
94     538
95     538
99     538
102    528
105    488
110    538
112    538
118    538
125    538
130    538
132    538
138    538
143    498
152    538
163    538
164    538
180    538
189    538
194    538
196    538
210    538
215    538
218    538
228    538
231    538
237    538
238    538
247    538
253    538
259    538
267    538
272    538
278    538
285    538
292    538
Name: Quantity, dtype: int64

haseen
 8      496
13     496
18     496
24     496
35     496
51     496
60     496
69     496
75     496
85     496
92     496
149    496
155    496
166    496
167    496
190    496
201    496
207    496
219    496
224    496
230    496
241    496
251    496
258    496
262    496
277    496
283    496
293    496
Name: Quantity, dtype: int64

isran
 42     470
45     470
55     470
140    470
148    470
156    470
Name: Quantity, dtype: int64

jabir
 1     419
6     419
10    419
22    419
29    419
38    419
50    419
57    419
65    419
82    404
88    419
Name: Quantity, dtype: int64

julfan
 96     470
100    470
103    490
106    480
109    490
113    470
119    490
124    490
128    490
136    490
150    390
160    490
170    490
171    490
181    490
186    490
193    490
197    490
204    490
213    490
221    490
229    490
232    490
240    490
248    490
256    490
260    490
270    490
274    490
279    490
286    490
291    490
Name: Quantity, dtype: int64

khurseed
 0      455
2      455
3      455
4      455
5      455
9      455
14     455
28     455
32     455
37     455
40     455
44     455
58     455
62     455
70     455
93     455
108    455
116    455
120    455
126    455
131    455
135    455
144    455
153    455
172    455
173    455
182    455
188    455
192    455
198    455
206    455
214    455
220    455
226    455
235    455
239    455
249    455
255    455
261    455
271    455
276    455
280    455
287    455
Name: Quantity, dtype: int64

mustakim
 7      405
23     405
33     405
43     405
54     405
67     405
77     405
83     385
89     405
107    405
111    405
114    405
117    405
123    405
133    405
142    355
151    405
176    405
177    405
178    405
179    405
187    405
195    405
203    405
211    405
217    405
225    405
234    405
236    405
245    405
254    405
Name: Quantity, dtype: int64

rafakat
 98     538
115    538
122    538
127    538
139    538
147    538
157    538
174    538
175    538
184    538
199    538
205    538
212    538
264    538
Name: Quantity, dtype: int64

rasid
 11     410
17     410
21     410
49     410
59     410
66     410
74     410
78     410
80     410
84     410
91     410
158    410
168    410
169    410
185    410
191    410
200    410
208    410
216    410
223    410
227    410
233    410
242    410
250    410
257    410
268    410
275    410
281    410
288    410
Name: Quantity, dtype: int64

shokeen
 15     433
19     453
27     453
34     453
46     453
53     453
61     453
71     453
76     453
86     453
90     453
134    453
141    453
146    453
154    453
165    453
243    453
246    453
252    453
263    453
269    453
273    453
282    453
289    453
294    453
Name: Quantity, dtype: int64

tasim
 265    453
Name: Quantity, dtype: int64

wajid
 48    419
63    419
72    419
Name: Quantity, dtype: int64

In [19]:
for i, j in group:
  print(i, j.Quantity.unique(), '\n')

akran [400]

gulfam [500 450 480 460]

hasan [538 528 488 498]

haseen [496]

isran [470]

jabir [419 404]

julfan [470 490 480 390]

khurseed [455]

mustakim [405 385 355]

rafakat [538]

rasid [410]

shokeen [433 453]

tasim [453]

wajid [419]

# Diesel

In [20]:
diesel = pd.read_excel('11_mar_to_5_apr.xlsx', 'Diesel')
diesel.head()

        Date      Name  Diesel    cash
0 2019-03-11     jabir    2000     NaN
1        NaT  khurseed    2000     NaN
2        NaT     total    4000     NaN
3 2019-03-12  khurseed    2000  1000.0
4        NaT   noushad     500     NaN

In [21]:
diesel.shape

(164, 4)

In [22]:
diesel.Date.unique()

array(['2019-03-11T00:00:00.000000000',                           'NaT',
       '2019-03-12T00:00:00.000000000', '2019-03-13T00:00:00.000000000',
       '2019-03-14T00:00:00.000000000', '2019-03-15T00:00:00.000000000',
       '2019-03-16T00:00:00.000000000', '2019-03-17T00:00:00.000000000',
       '2019-03-18T00:00:00.000000000', '2019-03-19T00:00:00.000000000',
       '2019-03-23T00:00:00.000000000', '2019-03-24T00:00:00.000000000',
       '2019-03-25T00:00:00.000000000', '2019-03-26T00:00:00.000000000',
       '2019-03-27T00:00:00.000000000', '2019-03-28T00:00:00.000000000',
       '2019-03-29T00:00:00.000000000', '2019-03-30T00:00:00.000000000',
       '2019-03-31T00:00:00.000000000', '2019-04-02T00:00:00.000000000',
       '2019-04-03T00:00:00.000000000', '2019-04-04T00:00:00.000000000',
       '2019-03-05T00:00:00.000000000'], dtype='datetime64[ns]')

In [0]:
for n, i in enumerate(diesel.Date.values):
  if not pd.isnull(i):
    date = i
  else:
    diesel.iloc[n, 0] = date

In [24]:
diesel.head()

        Date      Name  Diesel    cash
0 2019-03-11     jabir    2000     NaN
1 2019-03-11  khurseed    2000     NaN
2 2019-03-11     total    4000     NaN
3 2019-03-12  khurseed    2000  1000.0
4 2019-03-12   noushad     500     NaN

# pivot table

In [25]:
pivot_diesel = diesel.pivot_table(index = 'Name', columns = 'Date', values = 'Diesel')
pivot_diesel

Date,2019-03-05 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,2019-03-14 00:00:00,2019-03-15 00:00:00,2019-03-16 00:00:00,2019-03-17 00:00:00,2019-03-18 00:00:00,2019-03-19 00:00:00,...,2019-03-25 00:00:00,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-03-30 00:00:00,2019-03-31 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00,2019-04-04 00:00:00
Name,,,,,,,,,,,,,,,,,,,,,
arsad jcb,NaN,NaN,NaN,NaN,3000.0,2000.0,NaN,2000.0,1500.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gulfam,NaN,NaN,NaN,2000.0,2000.0,NaN,NaN,1500.0,2000.0,NaN,...,2000.0,2000.0,1000.0,1500.0,1500.0,1500.0,2000.0,1500.0,1500.0,2000.0
haroon jcb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3500.0,NaN,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0
hasan,NaN,NaN,NaN,1500.0,NaN,1500.0,2000.0,2000.0,NaN,NaN,...,2000.0,2000.0,NaN,2000.0,1500.0,2000.0,1500.0,2000.0,1500.0,2000.0
haseen,NaN,NaN,NaN,2000.0,2000.0,NaN,1500.0,1500.0,1225.0,NaN,...,NaN,NaN,NaN,2000.0,NaN,2000.0,2000.0,2000.0,NaN,2000.0
isran,NaN,NaN,NaN,NaN,NaN,2000.0,1340.0,NaN,NaN,NaN,...,NaN,2000.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
jabir,NaN,2000.0,NaN,2000.0,NaN,2000.0,1500.0,1500.0,NaN,1500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
julfan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2000.0,2000.0,1000.0,1500.0,2000.0,1500.0,2000.0,2000.0,2000.0,2000.0
khurseed,NaN,2000.0,2000.0,NaN,2000.0,1500.0,NaN,2000.0,NaN,NaN,...,1500.0,2000.0,NaN,1500.0,2000.0,1500.0,2000.0,2000.0,2000.0,2000.0
mustakim,NaN,NaN,NaN,NaN,2000.0,NaN,1500.0,NaN,1500.0,NaN,...,NaN,1500.0,NaN,1500.0,1500.0,1500.0,NaN,1500.0,NaN,NaN
noushad,NaN,NaN,500.0,4500.0,NaN,NaN,NaN,NaN,NaN,NaN,...,5500.0,2500.0,NaN,2000.0,1500.0,500.0,4500.0,1000.0,NaN,1500.0
rafakat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1500.0,2000.0,NaN,1500.0,2000.0,1500.0,NaN,NaN,1500.0,NaN
rasid,NaN,NaN,NaN,2000.0,NaN,NaN,2000.0,1500.0,2000.0,NaN,...,NaN,NaN,2000.0,NaN,1500.0,1500.0,2000.0,2000.0,NaN,2000.0
sabir jcb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4000.0,NaN
shokeen,1000.0,NaN,NaN,2000.0,NaN,NaN,1500.0,2000.0,1500.0,NaN,...,NaN,2000.0,NaN,2000.0,NaN,NaN,NaN,2000.0,2000.0,NaN
tasim,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,NaN
total,1000.0,4000.0,3000.0,16000.0,11000.0,9000.0,11340.0,15500.0,9725.0,1500.0,...,14500.0,21500.0,6000.0,19000.0,17000.0,17000.0,19500.0,19500.0,20000.0,17000.0
vijay,NaN,NaN,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wajid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [0]:
pivot_diesel.fillna(value = 0, inplace = True)

In [27]:
pivot_diesel.head(2)

Date,2019-03-05 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,2019-03-14 00:00:00,2019-03-15 00:00:00,2019-03-16 00:00:00,2019-03-17 00:00:00,2019-03-18 00:00:00,2019-03-19 00:00:00,...,2019-03-25 00:00:00,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-03-30 00:00:00,2019-03-31 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00,2019-04-04 00:00:00
Name,,,,,,,,,,,,,,,,,,,,,
arsad jcb,0.0,0.0,0.0,0.0,3000.0,2000.0,0.0,2000.0,1500.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
gulfam,0.0,0.0,0.0,2000.0,2000.0,0.0,0.0,1500.0,2000.0,0.0,...,2000.0,2000.0,1000.0,1500.0,1500.0,1500.0,2000.0,1500.0,1500.0,2000.0

In [28]:
pivot_diesel['Total Diesel'] = pd.Series([0 for i in range(len(pivot_diesel))])
pivot_diesel.head(1)

Date,2019-03-05 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,2019-03-14 00:00:00,2019-03-15 00:00:00,2019-03-16 00:00:00,2019-03-17 00:00:00,2019-03-18 00:00:00,2019-03-19 00:00:00,...,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-03-30 00:00:00,2019-03-31 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00,2019-04-04 00:00:00,Total Diesel
Name,,,,,,,,,,,,,,,,,,,,,
arsad jcb,0.0,0.0,0.0,0.0,3000.0,2000.0,0.0,2000.0,1500.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [0]:
for i in range(len(pivot_diesel)):
  pivot_diesel['Total Diesel'][i] = sum(pivot_diesel.iloc[i, 0:-1])

In [30]:
pivot_diesel

Date,2019-03-05 00:00:00,2019-03-11 00:00:00,2019-03-12 00:00:00,2019-03-13 00:00:00,2019-03-14 00:00:00,2019-03-15 00:00:00,2019-03-16 00:00:00,2019-03-17 00:00:00,2019-03-18 00:00:00,2019-03-19 00:00:00,...,2019-03-26 00:00:00,2019-03-27 00:00:00,2019-03-28 00:00:00,2019-03-29 00:00:00,2019-03-30 00:00:00,2019-03-31 00:00:00,2019-04-02 00:00:00,2019-04-03 00:00:00,2019-04-04 00:00:00,Total Diesel
Name,,,,,,,,,,,,,,,,,,,,,
arsad jcb,0.0,0.0,0.0,0.0,3000.0,2000.0,0.0,2000.0,1500.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8500.0
gulfam,0.0,0.0,0.0,2000.0,2000.0,0.0,0.0,1500.0,2000.0,0.0,...,2000.0,1000.0,1500.0,1500.0,1500.0,2000.0,1500.0,1500.0,2000.0,27000.0
haroon jcb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3500.0,0.0,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0,3500.0,28000.0
hasan,0.0,0.0,0.0,1500.0,0.0,1500.0,2000.0,2000.0,0.0,0.0,...,2000.0,0.0,2000.0,1500.0,2000.0,1500.0,2000.0,1500.0,2000.0,27500.0
haseen,0.0,0.0,0.0,2000.0,2000.0,0.0,1500.0,1500.0,1225.0,0.0,...,0.0,0.0,2000.0,0.0,2000.0,2000.0,2000.0,0.0,2000.0,18225.0
isran,0.0,0.0,0.0,0.0,0.0,2000.0,1340.0,0.0,0.0,0.0,...,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7340.0
jabir,0.0,2000.0,0.0,2000.0,0.0,2000.0,1500.0,1500.0,0.0,1500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10500.0
julfan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2000.0,1000.0,1500.0,2000.0,1500.0,2000.0,2000.0,2000.0,2000.0,22000.0
khurseed,0.0,2000.0,2000.0,0.0,2000.0,1500.0,0.0,2000.0,0.0,0.0,...,2000.0,0.0,1500.0,2000.0,1500.0,2000.0,2000.0,2000.0,2000.0,27800.0
mustakim,0.0,0.0,0.0,0.0,2000.0,0.0,1500.0,0.0,1500.0,0.0,...,1500.0,0.0,1500.0,1500.0,1500.0,0.0,1500.0,0.0,0.0,14000.0
noushad,0.0,0.0,500.0,4500.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2500.0,0.0,2000.0,1500.0,500.0,4500.0,1000.0,0.0,1500.0,27200.0
rafakat,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2000.0,0.0,1500.0,2000.0,1500.0,0.0,0.0,1500.0,0.0,14000.0
rasid,0.0,0.0,0.0,2000.0,0.0,0.0,2000.0,1500.0,2000.0,0.0,...,0.0,2000.0,0.0,1500.0,1500.0,2000.0,2000.0,0.0,2000.0,18500.0
sabir jcb,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000.0,0.0,4000.0
shokeen,1000.0,0.0,0.0,2000.0,0.0,0.0,1500.0,2000.0,1500.0,0.0,...,2000.0,0.0,2000.0,0.0,0.0,0.0,2000.0,2000.0,0.0,16000.0
tasim,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000.0,0.0,2000.0
total,1000.0,4000.0,3000.0,16000.0,11000.0,9000.0,11340.0,15500.0,9725.0,1500.0,...,21500.0,6000.0,19000.0,17000.0,17000.0,19500.0,19500.0,20000.0,17000.0,274565.0
vijay,0.0,0.0,500.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,500.0
wajid,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1500.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1500.0

In [32]:
pivot_diesel[['Total Diesel']]

Date        Total Diesel
Name
arsad jcb         8500.0
gulfam           27000.0
haroon jcb       28000.0
hasan            27500.0
haseen           18225.0
isran             7340.0
jabir            10500.0
julfan           22000.0
khurseed         27800.0
mustakim         14000.0
noushad          27200.0
rafakat          14000.0
rasid            18500.0
sabir jcb         4000.0
shokeen          16000.0
tasim             2000.0
total           274565.0
vijay              500.0
wajid             1500.0

# Total Quantity per name

In [0]:
name_groups = df.groupby('Name')
name_total_quantity = pd.DataFrame(columns = ['Name', 'Total Quantity'])
for i, j in name_groups:
  name_total_quantity = name_total_quantity.append({'Name':i, 'Total Quantity': sum(j.Quantity)}, ignore_index = True)
  
name_total_quantity.sort_values(by = ['Total Quantity'], ascending = False, inplace = True)

In [35]:
name_total_quantity

        Name Total Quantity
2      hasan          25714
7   khurseed          19565
6     julfan          15510
3     haseen          13888
8   mustakim          12485
10     rasid          11890
11   shokeen          11305
1     gulfam          11280
9    rafakat           7532
5      jabir           4594
4      isran           2820
13     wajid           1257
12     tasim            453
0      akran            400

In [37]:
diesel = pd.DataFrame(pivot_diesel.iloc[1:, -1])
diesel

            Total Diesel
Name
gulfam           27000.0
haroon jcb       28000.0
hasan            27500.0
haseen           18225.0
isran             7340.0
jabir            10500.0
julfan           22000.0
khurseed         27800.0
mustakim         14000.0
noushad          27200.0
rafakat          14000.0
rasid            18500.0
sabir jcb         4000.0
shokeen          16000.0
tasim             2000.0
total           274565.0
vijay              500.0
wajid             1500.0

In [0]:
diesel.reset_index(inplace = True)

In [39]:
diesel.head(1)

     Name  Total Diesel
0  gulfam       27000.0

In [57]:
to_peoples = sum(diesel[((diesel.Name != 'total') & (diesel.Name != 'total'))]['Total Diesel'])
to_peoples

266065.0

In [40]:
name_total_quantity.shape

(14, 2)

In [41]:
diesel.shape

(18, 2)

In [51]:
total_diesel = diesel['Total Diesel'][diesel.Name == 'total'].values[0]
total_diesel

274565.0

In [0]:
final = pd.DataFrame(columns = ['Name','Count' , 'Total Quantity', 'Amount', 'Diesel', 'Amount - Diesel'])
for i in range(len(name_total_quantity)):
  for j in range(len(diesel)):
    if name_total_quantity.Name[i] == diesel.Name[j]:
      final = final.append({'Name': diesel.Name[j],'Total Quantity':name_total_quantity['Total Quantity'][i] ,
                            'Count':rounds_per_name.get(diesel.Name[j]),
                            'Amount':name_total_quantity['Total Quantity'][i]*3,
                            'Diesel':diesel['Total Diesel'][j],
                            'Amount - Diesel':name_total_quantity['Total Quantity'][i]*3 - diesel['Total Diesel'][j]},
                           ignore_index = True)

In [43]:
final.sort_values(by = 'Total Quantity', ascending = False, inplace = True)
final

        Name Count Total Quantity Amount   Diesel  Amount - Diesel
1      hasan    48          25714  77142  27500.0          49642.0
6   khurseed    43          19565  58695  27800.0          30895.0
5     julfan    32          15510  46530  22000.0          24530.0
2     haseen    28          13888  41664  18225.0          23439.0
7   mustakim    31          12485  37455  14000.0          23455.0
9      rasid    29          11890  35670  18500.0          17170.0
10   shokeen    25          11305  33915  16000.0          17915.0
0     gulfam    23          11280  33840  27000.0           6840.0
8    rafakat    14           7532  22596  14000.0           8596.0
4      jabir    11           4594  13782  10500.0           3282.0
3      isran     6           2820   8460   7340.0           1120.0
12     wajid     3           1257   3771   1500.0           2271.0
11     tasim     1            453   1359   2000.0           -641.0

In [44]:
final.shape

(13, 6)

In [45]:
total_q = sum(final['Total Quantity'])
total_q

138293

# Total payable

In [46]:
our_amount = total_quantity*4.25
our_amount

589445.25

In [52]:
total_diesel

274565.0

In [53]:
sabir_jcb = pivot_diesel.loc['sabir jcb']['Total Diesel']
sabir_jcb

4000.0

# Our Balance

In [54]:
balance = our_amount - total_diesel
balance

314880.25

# Tot to People

In [55]:
to_people = total_quantity*3
to_people

416079