<a href="https://colab.research.google.com/github/noushadkhan01/kansepur-flyash-project/blob/master/bill3/kansepur_bill3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/noushadkhan01/kansepur-flyash-project.git

Cloning into 'kansepur-flyash-project'...
remote: Enumerating objects: 4, done.
remote: Counting objects: 100% (4/4), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 104 (delta 0), reused 0 (delta 0), pack-reused 100
Receiving objects: 100% (104/104), 258.99 KiB | 7.19 MiB/s, done.
Resolving deltas: 100% (41/41), done.

In [2]:
%cd kansepur-flyash-project/bill3/

/content/kansepur-flyash-project/bill3

In [3]:
!ls

kansepur_bill3.xlsx

In [0]:
import pandas as pd

In [5]:
df = pd.read_excel('kansepur_bill3.xlsx', 'Sheet1')
df.head()

       S.No.                 Date               Counts     Name  Quantity
0        1.0  2019-01-01 00:00:00                    1   toheed     486.0
1        2.0                  NaN                    2    isran     470.0
2        3.0                  NaN                    3    wajid     419.0
3        4.0                  NaN                    4    aarif     416.0
4        5.0                  NaN                    5  farookh     420.0

# Counts

In [6]:
df.Name.value_counts()

mehmood     30
isran       30
farookh     30
jabir       27
hasan       27
mustakim    26
rafakat     25
wajid       24
shabir      23
toheed      22
aarif       20
intazar     19
rasid       18
shokeen     18
gulfam      16
haseen      15
aashu       14
kayum        2
safi         1
Name: Name, dtype: int64

In [0]:
name_groups = df.groupby('Name')

In [8]:
for i, j in name_groups:
  print(i, '\n', j, '\n\n')

aarif
          S.No. Date               Counts   Name  Quantity
3          4.0  NaN                    4  aarif     416.0
11        12.0  NaN                   12  aarif     416.0
121      122.0  NaN                    9  aarif     416.0
128      129.0  NaN                   16  aarif     416.0
142      143.0  NaN                   30  aarif     416.0
155      156.0  NaN                    3  aarif     416.0
172      173.0  NaN                   20  aarif     416.0
184      185.0  NaN                   32  aarif     416.0
200      201.0  NaN                   10  aarif     416.0
211      212.0  NaN                   21  aarif     416.0
225      226.0  NaN                   35  aarif     416.0
245      246.0  NaN                    9  aarif     416.0
255      256.0  NaN                   19  aarif     416.0
266      267.0  NaN                   30  aarif     416.0
280      281.0  NaN                    6  aarif     416.0
288      289.0  NaN                   14  aarif     416.0
302      303.0  NaN                   28  aarif     416.0
311      312.0  NaN                    4  aarif     416.0
324      325.0  NaN                   17  aarif     416.0
340      341.0  NaN                   33  aarif     416.0


aashu
          S.No. Date               Counts   Name  Quantity
167      168.0  NaN                   15  aashu     430.0
189      190.0  NaN                   37  aashu     430.0
204      205.0  NaN                   14  aashu     430.0
219      220.0  NaN                   29  aashu     430.0
231      232.0  NaN                   41  aashu     430.0
248      249.0  NaN                   12  aashu     430.0
260      261.0  NaN                   24  aashu     430.0
268      269.0  NaN                   32  aashu     430.0
318      319.0  NaN                   11  aashu     430.0
328      329.0  NaN                   21  aashu     430.0
350      351.0  NaN                   43  aashu     470.0
361      362.0  NaN                    9  aashu     430.0
374      375.0  NaN                   22  aashu     430.0
385      386.0  NaN                   33  aashu     430.0


farookh
          S.No.                 Date               Counts     Name  Quantity
4          5.0                  NaN                    5  farookh     420.0
12        13.0                  NaN                   13  farookh     420.0
26        27.0                  NaN                    4  farookh     420.0
33        34.0                  NaN                   11  farookh     420.0
44        45.0                  NaN                   22  farookh     420.0
54        55.0  2019-01-06 00:00:00                    1  farookh     420.0
63        64.0                  NaN                   10  farookh     420.0
71        72.0                  NaN                   18  farookh     420.0
82        83.0                  NaN                    2  farookh     420.0
92        93.0                  NaN                   12  farookh     420.0
101      102.0                  NaN                   21  farookh     420.0
114      115.0                  NaN                    2  farookh     420.0
127      128.0                  NaN                   15  farookh     420.0
141      142.0                  NaN                   29  farookh     420.0
153      154.0  2019-01-09 00:00:00                    1  farookh     420.0
169      170.0                  NaN                   17  farookh     420.0
193      194.0                  NaN                    3  farookh     420.0
208      209.0                  NaN                   18  farookh     420.0
222      223.0                  NaN                   32  farookh     420.0
239      240.0                  NaN                    3  farookh     420.0
252      253.0                  NaN                   16  farookh     420.0
263      264.0                  NaN                   27  farookh     420.0
276      277.0                  NaN                    2  farookh     420.0
285      286.0                  NaN                   11  farookh     420.0
314      315.0                  NaN                    7  farookh     420.0
327      328.0                  NaN                   20  farookh     420.0
341      342.0                  NaN                   34  farookh     420.0
355      356.0                  NaN                    3  farookh     420.0
368      369.0                  NaN                   16  farookh     420.0
381      382.0                  NaN                   29  farookh     420.0


gulfam
          S.No. Date               Counts    Name  Quantity
6          7.0  NaN                    7  gulfam     500.0
15        16.0  NaN                    2  gulfam     500.0
20        21.0  NaN                    7  gulfam     500.0
34        35.0  NaN                   12  gulfam     500.0
51        52.0  NaN                   29  gulfam     500.0
72        73.0  NaN                   19  gulfam     500.0
131      132.0  NaN                   19  gulfam     500.0
146      147.0  NaN                   34  gulfam     500.0
170      171.0  NaN                   18  gulfam     500.0
188      189.0  NaN                   36  gulfam     500.0
223      224.0  NaN                   33  gulfam     500.0
284      285.0  NaN                   10  gulfam     500.0
296      297.0  NaN                   22  gulfam     500.0
330      331.0  NaN                   23  gulfam     500.0
344      345.0  NaN                   37  gulfam     500.0
367      368.0  NaN                   15  gulfam     500.0


hasan
          S.No. Date               Counts   Name  Quantity
13        14.0  NaN                   14  hasan     538.0
17        18.0  NaN                    4  hasan     538.0
22        23.0  NaN                    9  hasan     538.0
24        25.0  NaN                    2  hasan     538.0
36        37.0  NaN                   14  hasan     538.0
45        46.0  NaN                   23  hasan     538.0
57        58.0  NaN                    4  hasan     538.0
64        65.0  NaN                   11  hasan     538.0
76        77.0  NaN                   23  hasan     538.0
86        87.0  NaN                    6  hasan     538.0
108      109.0  NaN                   28  hasan     538.0
122      123.0  NaN                   10  hasan     508.0
136      137.0  NaN                   24  hasan     538.0
151      152.0  NaN                   39  hasan     538.0
164      165.0  NaN                   12  hasan     538.0
181      182.0  NaN                   29  hasan     538.0
203      204.0  NaN                   13  hasan     538.0
217      218.0  NaN                   27  hasan     538.0
236      237.0  NaN                   46  hasan     538.0
240      241.0  NaN                    4  hasan     538.0
254      255.0  NaN                   18  hasan     538.0
317      318.0  NaN                   10  hasan     538.0
333      334.0  NaN                   26  hasan     538.0
349      350.0  NaN                   42  hasan     538.0
360      361.0  NaN                    8  hasan     538.0
370      371.0  NaN                   18  hasan     538.0
383      384.0  NaN                   31  hasan     538.0


haseen
          S.No. Date               Counts    Name  Quantity
157      158.0  NaN                    5  haseen     496.0
180      181.0  NaN                   28  haseen     496.0
195      196.0  NaN                    5  haseen     496.0
212      213.0  NaN                   22  haseen     496.0
227      228.0  NaN                   37  haseen     496.0
244      245.0  NaN                    8  haseen     496.0
258      259.0  NaN                   22  haseen     496.0
279      280.0  NaN                    5  haseen     496.0
291      292.0  NaN                   17  haseen     496.0
310      311.0  NaN                    3  haseen     496.0
331      332.0  NaN                   24  haseen     496.0
347      348.0  NaN                   40  haseen     496.0
357      358.0  NaN                    5  haseen     496.0
373      374.0  NaN                   21  haseen     496.0
386      387.0  NaN                   34  haseen     496.0


intazar
          S.No. Date               Counts     Name  Quantity
43        44.0  NaN                   21  intazar     517.0
56        57.0  NaN                    3  intazar     517.0
67        68.0  NaN                   14  intazar     517.0
74        75.0  NaN                   21  intazar     517.0
84        85.0  NaN                    4  intazar     517.0
102      103.0  NaN                   22  intazar     517.0
115      116.0  NaN                    3  intazar     517.0
129      130.0  NaN                   17  intazar     517.0
144      145.0  NaN                   32  intazar     517.0
156      157.0  NaN                    4  intazar     517.0
174      175.0  NaN                   22  intazar     513.0
186      187.0  NaN                   34  intazar     517.0
198      199.0  NaN                    8  intazar     517.0
216      217.0  NaN                   26  intazar     517.0
277      278.0  NaN                    3  intazar     517.0
290      291.0  NaN                   16  intazar     517.0
313      314.0  NaN                    6  intazar     517.0
329      330.0  NaN                   22  intazar     517.0
343      344.0  NaN                   36  intazar     517.0


isran
          S.No. Date               Counts   Name  Quantity
1          2.0  NaN                    2  isran     470.0
8          9.0  NaN                    9  isran     470.0
30        31.0  NaN                    8  isran     470.0
40        41.0  NaN                   18  isran     470.0
49        50.0  NaN                   27  isran     470.0
58        59.0  NaN                    5  isran     470.0
70        71.0  NaN                   17  isran     470.0
87        88.0  NaN                    7  isran     470.0
97        98.0  NaN                   17  isran     470.0
106      107.0  NaN                   26  isran     470.0
118      119.0  NaN                    6  isran     470.0
133      134.0  NaN                   21  isran     470.0
145      146.0  NaN                   33  isran     470.0
163      164.0  NaN                   11  isran     470.0
176      177.0  NaN                   24  isran     470.0
194      195.0  NaN                    4  isran     470.0
209      210.0  NaN                   19  isran     470.0
224      225.0  NaN                   34  isran     470.0
238      239.0  NaN                    2  isran     470.0
251      252.0  NaN                   15  isran     470.0
262      263.0  NaN                   26  isran     470.0
278      279.0  NaN                    4  isran     470.0
287      288.0  NaN                   13  isran     470.0
300      301.0  NaN                   26  isran     470.0
312      313.0  NaN                    5  isran     470.0
323      324.0  NaN                   16  isran     470.0
337      338.0  NaN                   30  isran     470.0
354      355.0  NaN                    2  isran     470.0
362      363.0  NaN                   10  isran     470.0
377      378.0  NaN                   25  isran     470.0


jabir
          S.No.                 Date               Counts   Name  Quantity
14        15.0  2019-01-04 00:00:00                    1  jabir     419.0
19        20.0                  NaN                    6  jabir     419.0
23        24.0  2019-01-05 00:00:00                    1  jabir     419.0
32        33.0                  NaN                   10  jabir     419.0
41        42.0                  NaN                   19  jabir     419.0
53        54.0                  NaN                   31  jabir     419.0
55        56.0                  NaN                    2  jabir     419.0
62        63.0                  NaN                    9  jabir     419.0
69        70.0                  NaN                   16  jabir     419.0
75        76.0                  NaN                   22  jabir     419.0
93        94.0                  NaN                   13  jabir     419.0
110      111.0                  NaN                   30  jabir     419.0
124      125.0                  NaN                   12  jabir     419.0
137      138.0                  NaN                   25  jabir     419.0
147      148.0                  NaN                   35  jabir     419.0
168      169.0                  NaN                   16  jabir     419.0
182      183.0                  NaN                   30  jabir     419.0
218      219.0                  NaN                   28  jabir     419.0
233      234.0                  NaN                   43  jabir     419.0
249      250.0                  NaN                   13  jabir     419.0
261      262.0                  NaN                   25  jabir     419.0
283      284.0                  NaN                    9  jabir     419.0
295      296.0                  NaN                   21  jabir     419.0
322      323.0                  NaN                   15  jabir     419.0
335      336.0                  NaN                   28  jabir     419.0
346      347.0                  NaN                   39  jabir     419.0
371      372.0                  NaN                   19  jabir     419.0


kayum
          S.No. Date               Counts   Name  Quantity
369      370.0  NaN                   17  kayum     450.0
379      380.0  NaN                   27  kayum     450.0


mehmood
          S.No. Date               Counts     Name  Quantity
77        78.0  NaN                   24  mehmood     419.0
79        80.0  NaN                   26  mehmood     500.0
80        81.0  NaN                   27  mehmood     538.0
89        90.0  NaN                    9  mehmood     419.0
111      112.0  NaN                   31  mehmood     517.0
112      113.0  NaN                   32  mehmood     486.0
150      151.0  NaN                   38  mehmood     419.0
152      153.0  NaN                   40  mehmood     453.0
165      166.0  NaN                   13  mehmood     500.0
179      180.0  NaN                   27  mehmood     419.0
190      191.0  NaN                   38  mehmood     470.0
202      203.0  NaN                   12  mehmood     500.0
234      235.0  NaN                   44  mehmood     517.0
241      242.0  NaN                    5  mehmood     500.0
269      270.0  NaN                   33  mehmood     420.0
271      272.0  NaN                   35  mehmood     470.0
272      273.0  NaN                   36  mehmood     453.0
273      274.0  NaN                   37  mehmood     470.0
274      275.0  NaN                   38  mehmood     405.0
289      290.0  NaN                   15  mehmood     419.0
298      299.0  NaN                   24  mehmood     420.0
303      304.0  NaN                   29  mehmood     538.0
304      305.0  NaN                   30  mehmood     486.0
306      307.0  NaN                   32  mehmood     419.0
351      352.0  NaN                   44  mehmood     538.0
352      353.0  NaN                   45  mehmood     470.0
372      373.0  NaN                   20  mehmood     517.0
376      377.0  NaN                   24  mehmood     470.0
380      381.0  NaN                   28  mehmood     405.0
384      385.0  NaN                   32  mehmood     419.0


mustakim
          S.No.                 Date               Counts      Name  Quantity
25        26.0                  NaN                    3  mustakim     405.0
35        36.0                  NaN                   13  mustakim     405.0
50        51.0                  NaN                   28  mustakim     405.0
81        82.0  2019-01-07 00:00:00                    1  mustakim     405.0
94        95.0                  NaN                   14  mustakim     405.0
103      104.0                  NaN                   23  mustakim     405.0
113      114.0  2019-01-08 00:00:00                    1  mustakim     405.0
126      127.0                  NaN                   14  mustakim     405.0
140      141.0                  NaN                   28  mustakim     405.0
154      155.0                  NaN                    2  mustakim     405.0
171      172.0                  NaN                   19  mustakim     405.0
187      188.0                  NaN                   35  mustakim     405.0
191      192.0  2019-01-10 00:00:00                    1  mustakim     405.0
213      214.0                  NaN                   23  mustakim     405.0
228      229.0                  NaN                   38  mustakim     405.0
237      238.0  2019-01-11 00:00:00                    1  mustakim     405.0
250      251.0                  NaN                   14  mustakim     405.0
265      266.0                  NaN                   29  mustakim     420.0
275      276.0  2019-01-12 00:00:00                    1  mustakim     405.0
286      287.0                  NaN                   12  mustakim     405.0
299      300.0                  NaN                   25  mustakim     405.0
308      309.0  2019-01-13 00:00:00                    1  mustakim     405.0
325      326.0                  NaN                   18  mustakim     405.0
339      340.0                  NaN                   32  mustakim     405.0
353      354.0  2019-01-14 00:00:00                    1  mustakim     405.0
364      365.0                  NaN                   12  mustakim     405.0


rafakat
          S.No. Date               Counts     Name  Quantity
16        17.0  NaN                    3  rafakat     538.0
21        22.0  NaN                    8  rafakat     538.0
27        28.0  NaN                    5  rafakat     538.0
37        38.0  NaN                   15  rafakat     538.0
46        47.0  NaN                   24  rafakat     538.0
59        60.0  NaN                    6  rafakat     538.0
65        66.0  NaN                   12  rafakat     538.0
73        74.0  NaN                   20  rafakat     538.0
85        86.0  NaN                    5  rafakat     538.0
98        99.0  NaN                   18  rafakat     538.0
107      108.0  NaN                   27  rafakat     538.0
123      124.0  NaN                   11  rafakat     538.0
135      136.0  NaN                   23  rafakat     538.0
160      161.0  NaN                    8  rafakat     538.0
175      176.0  NaN                   23  rafakat     538.0
205      206.0  NaN                   15  rafakat     538.0
221      222.0  NaN                   31  rafakat     538.0
235      236.0  NaN                   45  rafakat     538.0
246      247.0  NaN                   10  rafakat     538.0
259      260.0  NaN                   23  rafakat     538.0
270      271.0  NaN                   34  rafakat     538.0
281      282.0  NaN                    7  rafakat     538.0
294      295.0  NaN                   20  rafakat     538.0
319      320.0  NaN                   12  rafakat     538.0
336      337.0  NaN                   29  rafakat     538.0


rasid
          S.No. Date               Counts   Name  Quantity
117      118.0  NaN                    5  rasid     410.0
134      135.0  NaN                   22  rasid     410.0
149      150.0  NaN                   37  rasid     410.0
159      160.0  NaN                    7  rasid     410.0
183      184.0  NaN                   31  rasid     410.0
201      202.0  NaN                   11  rasid     410.0
210      211.0  NaN                   20  rasid     410.0
226      227.0  NaN                   36  rasid     410.0
256      257.0  NaN                   20  rasid     410.0
267      268.0  NaN                   31  rasid     410.0
292      293.0  NaN                   18  rasid     410.0
307      308.0  NaN                   33  rasid     410.0
316      317.0  NaN                    9  rasid     410.0
332      333.0  NaN                   25  rasid     410.0
345      346.0  NaN                   38  rasid     410.0
359      360.0  NaN                    7  rasid     410.0
366      367.0  NaN                   14  rasid     410.0
378      379.0  NaN                   26  rasid     410.0



In [10]:
for i, j in name_groups:
  print(i, ':--- ', sum(j.Quantity))

aarif :---  8320.0
aashu :---  6060.0
farookh :---  12600.0
gulfam :---  8000.0
hasan :---  14496.0
haseen :---  7440.0
intazar :---  9819.0
isran :---  14100.0
jabir :---  11313.0
kayum :---  900.0
mehmood :---  13976.0
mustakim :---  10545.0
rafakat :---  13450.0
rasid :---  7380.0
safi :---  368.0
shabir :---  10810.0
shokeen :---  8154.0
toheed :---  10692.0
wajid :---  10056.0