<a href="https://colab.research.google.com/github/noushadkhan01/kansepur-flyash-project/blob/master/10_aug_to_11_sept_bill/kansepur_flyash_bill_10_aug_to_11_sept.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive

In [0]:
drive.mount('mydrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at mydrive

In [0]:
!ls

mydrive  sample_data

In [0]:
%cd mydrive/
!ls

/content/mydrive
'My Drive'

In [0]:
%cd My Drive/kansepur flyash project

/content/mydrive/My Drive/kansepur flyash project

In [0]:
!ls

 1_14_feb_bill.xlsx     kansepur_bill4.xlsx
 11_mar_to_5_apr.xlsx  'kansepur flyash bill 10 aug to 11 sept bill7.xlsx'
'kansepur bill2.xlsx'   kansepur_soil_bill.xlsx
 kansepur_bill3.xlsx

In [0]:
import pandas as pd

In [0]:
df = pd.read_excel('kansepur flyash bill 10 aug to 11 sept bill7.xlsx', 'Sheet1')
df.head()

   S.No.       Date Counts    Name  Quantity   Diesel
0    1.0 2019-08-10      1   imran     397.0   5000.0
1    2.0        NaT      2  julfan     390.0      NaN
2    3.0        NaT      3  julfan     390.0      NaN
3    4.0        NaT      4   imran     397.0      NaN
4    5.0 2019-08-11      1   imran     397.0  13000.0

In [0]:
df.tail(2)

     S.No. Date              Counts Name   Quantity  Diesel
451    NaN  NaT    Amt = Qty * 4.25  NaN  759700.25     NaN
452    NaN  NaT  Balance = amt -dsl  NaN  334700.25     NaN

In [0]:
df = df[:-3]
df.tail(2)

     S.No. Date Counts      Name  Quantity  Diesel
448  449.0  NaT     28  khurseed     391.0     NaN
449  450.0  NaT     29  mukarram     400.0     NaN

In [0]:
maap = {'imran':397, 'julfan':390, 'gulfam':411, 'saddam': 465, 'khurseed': 391, 'jabir': 416, 
        'akram': 360, 'wajid': 357, 'kayum': 308, 'bhura': 397, 'zishan': 484, 'amjad':397, 'rasid':406
        ,'mujahid':380, 'mukarram':400, 'jahid':435,'khan':425, 'dinesh':465
        }

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 6 columns):
S.No.       450 non-null float64
Date        23 non-null datetime64[ns]
Counts      450 non-null object
Name        450 non-null object
Quantity    450 non-null float64
Diesel      23 non-null float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 21.2+ KB

##fill values

In [0]:
df.columns

Index(['S.No.', 'Date', 'Counts', 'Name', 'Quantity', 'Diesel'], dtype='object')

In [0]:
df.Quantity.isnull().sum()

0

In [0]:
def fill_quantity(a):
  name, qty = a
  if pd.isnull(qty):
    return maap.get(name)
  return qty

In [0]:
df['Quantity'] = df[['Name', 'Quantity']].apply(fill_quantity, axis = 1)

In [0]:
df.Quantity.isnull().sum()

0

In [0]:
import numpy as np

In [0]:
df.Quantity[:3]

0    397.0
1    390.0
2    390.0
Name: Quantity, dtype: float64

df.to_excel('kansepur flyash bill 10 aug to 11 sept bill7.xlsx', index = False)

from google.colab import files

files.download('kansepur flyash bill 10 aug to 11 sept bill7.xlsx')

In [0]:
unique_dates = df.Date.unique()
unique_dates = pd.Series(unique_dates).dropna()
print(unique_dates)

0    2019-08-10
2    2019-08-11
3    2019-08-22
4    2019-08-23
5    2019-08-24
6    2019-08-25
7    2019-08-28
8    2019-08-29
9    2019-09-01
10   2019-09-02
11   2019-09-03
12   2019-09-04
13   2019-09-05
14   2019-09-06
15   2019-09-07
16   2019-09-08
17   2019-09-09
18   2019-09-10
19   2019-09-11
20   2019-09-12
21   2019-09-13
22   2019-09-14
23   2019-09-15
dtype: datetime64[ns]

In [0]:
df.Date.nunique()

23

In [0]:
df.Date.value_counts()

2019-09-12    1
2019-08-22    1
2019-08-23    1
2019-09-06    1
2019-09-03    1
2019-09-14    1
2019-08-28    1
2019-09-11    1
2019-08-11    1
2019-08-25    1
2019-09-08    1
2019-09-05    1
2019-08-29    1
2019-09-02    1
2019-09-13    1
2019-09-10    1
2019-08-10    1
2019-08-24    1
2019-09-07    1
2019-09-04    1
2019-09-01    1
2019-09-15    1
2019-09-09    1
Name: Date, dtype: int64

In [0]:
import numpy as np

In [0]:
df.Name.unique()

array(['imran', 'julfan', 'gulfam', 'khurseed', 'saddam', 'jabir',
       'amjad', 'kayum', 'akram', 'bhura', 'wajid', 'mehmood', 'rasid',
       'zishan', 'jahid', 'khan', 'mujahid', 'mukarram', 'dinesh'],
      dtype=object)

In [0]:
total_quantity = sum(df.Quantity)
total_quantity

178753.0

In [0]:
rounds_per_name = df.Name.value_counts()
rounds_per_name

imran       57
gulfam      47
khurseed    44
akram       41
saddam      36
bhura       36
julfan      32
jabir       28
kayum       27
wajid       25
rasid       24
zishan      15
mukarram    10
mujahid      7
khan         7
jahid        4
dinesh       4
mehmood      3
amjad        3
Name: Name, dtype: int64

In [0]:
sum(rounds_per_name.values)

450

## unique feets per name

In [0]:
group = df.groupby(df.Name)
group

for i, j in group:
  print(i, '\n', j.Quantity, '\n')

In [0]:
for i, j in group:
  print(i, j.Quantity.unique(), '\n')

akram [360.]

amjad [397.]

bhura [397.]

dinesh [465.]

gulfam [411.]

imran [397.]

jabir [416.]

jahid [435.]

julfan [390.]

kayum [308.]

khan [425.]

khurseed [391. 341.]

mehmood [308. 357. 397.]

mujahid [380.]

mukarram [400.]

rasid [406.]

saddam [465.]

wajid [357.]

zishan [484.]

# Diesel

In [0]:
diesel = pd.read_excel('kansepur flyash bill 10 aug to 11 sept bill7.xlsx', 'Diesel')
diesel.head()

        Date       Name  Diesel   Cash  bharai
0 2019-08-09     julfan     0.0    NaN   250.0
1        NaT      imran     0.0    NaN   250.0
2        NaT  vakil jcb  3000.0    NaN     NaN
3 2019-08-10      imran  1500.0  500.0     NaN
4        NaT     julfan  1500.0    NaN     NaN

In [0]:
diesel.shape

(246, 5)

In [0]:
diesel.Date.unique()

array(['2019-08-09T00:00:00.000000000',                           'NaT',
       '2019-08-10T00:00:00.000000000', '2019-08-11T00:00:00.000000000',
       '2019-08-14T00:00:00.000000000', '2019-09-18T00:00:00.000000000',
       '2019-08-22T00:00:00.000000000', '2019-08-23T00:00:00.000000000',
       '2019-08-24T00:00:00.000000000', '2019-08-25T00:00:00.000000000',
       '2019-08-26T00:00:00.000000000', '2019-08-27T00:00:00.000000000',
       '2019-08-28T00:00:00.000000000', '2019-08-29T00:00:00.000000000',
       '2019-09-01T00:00:00.000000000', '2019-09-02T00:00:00.000000000',
       '2019-09-03T00:00:00.000000000', '2019-09-04T00:00:00.000000000',
       '2019-09-05T00:00:00.000000000', '2019-09-06T00:00:00.000000000',
       '2019-09-07T00:00:00.000000000', '2019-09-08T00:00:00.000000000',
       '2019-09-09T00:00:00.000000000', '2019-09-10T00:00:00.000000000',
       '2019-09-11T00:00:00.000000000', '2019-09-12T00:00:00.000000000',
       '2019-09-13T00:00:00.000000000', '2019-09-14T00:00:00.000000000',
       '2019-09-15T00:00:00.000000000'], dtype='datetime64[ns]')

In [0]:
for n, i in enumerate(diesel.Date.values):
  if not pd.isnull(i):
    date = i
  else:
    diesel.iloc[n, 0] = date

In [0]:
diesel.head()

        Date       Name  Diesel   Cash  bharai
0 2019-08-09     julfan     0.0    NaN   250.0
1 2019-08-09      imran     0.0    NaN   250.0
2 2019-08-09  vakil jcb  3000.0    NaN     NaN
3 2019-08-10      imran  1500.0  500.0     NaN
4 2019-08-10     julfan  1500.0    NaN     NaN

# pivot table

In [0]:
pivot_diesel = diesel.pivot_table(index = 'Name', columns = 'Date', values = 'Diesel')
pivot_diesel

Date       2019-08-09  2019-08-10  ...  2019-09-15  2019-09-18
Name                               ...
akram             NaN         NaN  ...      2000.0         NaN
amjad             NaN         NaN  ...         NaN         NaN
bhada jcb         NaN         NaN  ...         NaN         NaN
bhura             NaN         NaN  ...         NaN         NaN
car               NaN         NaN  ...       500.0         NaN
cash              NaN         NaN  ...      3500.0         NaN
dinesh            NaN         NaN  ...      1820.0         NaN
gulfam            NaN         NaN  ...      2000.0         NaN
imran             0.0      1500.0  ...      2000.0         NaN
jabir             NaN         NaN  ...      2000.0         NaN
jahid             NaN         NaN  ...         NaN         NaN
julfan            0.0      1500.0  ...         NaN         0.0
kayum             NaN         NaN  ...         NaN         NaN
khan              NaN         NaN  ...      2000.0         NaN
khurseed          NaN         NaN  ...         NaN         NaN
mujahid           NaN         NaN  ...      2000.0         NaN
mukarram          NaN         NaN  ...      2000.0         NaN
rasid             NaN         NaN  ...      2000.0         NaN
sabirjcb          NaN         NaN  ...         NaN         NaN
saddam            NaN         NaN  ...      2000.0         NaN
total             NaN      5000.0  ...     30500.0         NaN
tractor           NaN         NaN  ...      1180.0         NaN
vakil jcb      3000.0      2000.0  ...      3500.0         NaN
wajid             NaN         NaN  ...         NaN         NaN
zishan            NaN         NaN  ...      2000.0         NaN

[25 rows x 28 columns]

In [0]:
pivot_diesel.fillna(value = 0, inplace = True)

In [0]:
pivot_diesel.head(2)

Date   2019-08-09  2019-08-10  2019-08-11  ...  2019-09-14  2019-09-15  2019-09-18
Name                                       ...
akram         0.0         0.0         0.0  ...      2000.0      2000.0         0.0
amjad         0.0         0.0         0.0  ...         0.0         0.0         0.0

[2 rows x 28 columns]

In [0]:
pivot_diesel['Total Diesel'] = pd.Series([0 for i in range(len(pivot_diesel))])
pivot_diesel.head(1)

Date   2019-08-09 00:00:00  ...  Total Diesel
Name                        ...
akram                  0.0  ...           NaN

[1 rows x 29 columns]

In [0]:
for i in range(len(pivot_diesel)):
  pivot_diesel['Total Diesel'][i] = sum(pivot_diesel.iloc[i, 0:-1])

In [0]:
pivot_diesel

Date       2019-08-09 00:00:00  ...  Total Diesel
Name                            ...
akram                      0.0  ...       21000.0
amjad                      0.0  ...        4000.0
bhada jcb                  0.0  ...       12000.0
bhura                      0.0  ...       24000.0
car                        0.0  ...        1500.0
cash                       0.0  ...       51000.0
dinesh                     0.0  ...        3820.0
gulfam                     0.0  ...       30500.0
imran                      0.0  ...       35500.0
jabir                      0.0  ...       16000.0
jahid                      0.0  ...        4000.0
julfan                     0.0  ...       22500.0
kayum                      0.0  ...       16500.0
khan                       0.0  ...        4000.0
khurseed                   0.0  ...       31500.0
mujahid                    0.0  ...        4000.0
mukarram                   0.0  ...        5000.0
rasid                      0.0  ...       14000.0
sabirjcb                   0.0  ...        2250.0
saddam                     0.0  ...       26000.0
total                      0.0  ...      423000.0
tractor                    0.0  ...        2180.0
vakil jcb               3000.0  ...       71000.0
wajid                      0.0  ...       13000.0
zishan                     0.0  ...        9500.0

[25 rows x 29 columns]

In [0]:
diesel = pivot_diesel[['Total Diesel']]
diesel

Date       Total Diesel
Name
akram           21000.0
amjad            4000.0
bhada jcb       12000.0
bhura           24000.0
car              1500.0
cash            51000.0
dinesh           3820.0
gulfam          30500.0
imran           35500.0
jabir           16000.0
jahid            4000.0
julfan          22500.0
kayum           16500.0
khan             4000.0
khurseed        31500.0
mujahid          4000.0
mukarram         5000.0
rasid           14000.0
sabirjcb         2250.0
saddam          26000.0
total          423000.0
tractor          2180.0
vakil jcb       71000.0
wajid           13000.0
zishan           9500.0

# Total Quantity per name

In [0]:
name_groups = df.groupby('Name')
name_total_quantity = pd.DataFrame(columns = ['Name', 'Total Quantity'])
for i, j in name_groups:
  name_total_quantity = name_total_quantity.append({'Name':i, 'Total Quantity': sum(j.Quantity)}, ignore_index = True)
  
name_total_quantity.sort_values(by = ['Total Quantity'], ascending = False, inplace = True)

In [0]:
name_total_quantity

        Name  Total Quantity
5      imran         22629.0
4     gulfam         19317.0
11  khurseed         17154.0
16    saddam         16740.0
0      akram         14760.0
2      bhura         14292.0
8     julfan         12480.0
6      jabir         11648.0
15     rasid          9744.0
17     wajid          8925.0
9      kayum          8316.0
18    zishan          7260.0
14  mukarram          4000.0
10      khan          2975.0
13   mujahid          2660.0
3     dinesh          1860.0
7      jahid          1740.0
1      amjad          1191.0
12   mehmood          1062.0

In [0]:
diesel.reset_index(inplace = True)

In [0]:
diesel.head(1)

Date   Name  Total Diesel
0     akram       21000.0

In [0]:
name_total_quantity.shape

(19, 2)

In [0]:
diesel.shape

(25, 2)

In [0]:
names = name_total_quantity.Name.values
names

array(['imran', 'gulfam', 'khurseed', 'saddam', 'akram', 'bhura',
       'julfan', 'jabir', 'rasid', 'wajid', 'kayum', 'zishan', 'mukarram',
       'khan', 'mujahid', 'dinesh', 'jahid', 'amjad', 'mehmood'],
      dtype=object)

In [0]:
final = pd.DataFrame(columns = ['Name','Counts' , 'Total Quantity', 'Amount', 'Diesel', 'Amount - Diesel'])
for i in names:
    total_quantity = name_total_quantity[name_total_quantity.Name == i]['Total Quantity'].values[0]
    if i in diesel.Name.values:
      total_diesel = diesel[diesel.Name == i]['Total Diesel'].values[0]
    else:
      total_diesel = 0
    final = final.append({'Name': i,'Total Quantity':total_quantity,
                            'Counts':rounds_per_name.get(i),
                            'Amount':total_quantity*3,
                            'Diesel':total_diesel,
                            'Amount - Diesel':total_quantity*3 - total_diesel},
                           ignore_index = True)

In [0]:
final.sort_values(by = 'Total Quantity', ascending = False, inplace = True)
final

        Name Counts  Total Quantity   Amount   Diesel  Amount - Diesel
0      imran     57         22629.0  67887.0  35500.0          32387.0
1     gulfam     47         19317.0  57951.0  30500.0          27451.0
2   khurseed     44         17154.0  51462.0  31500.0          19962.0
3     saddam     36         16740.0  50220.0  26000.0          24220.0
4      akram     41         14760.0  44280.0  21000.0          23280.0
5      bhura     36         14292.0  42876.0  24000.0          18876.0
6     julfan     32         12480.0  37440.0  22500.0          14940.0
7      jabir     28         11648.0  34944.0  16000.0          18944.0
8      rasid     24          9744.0  29232.0  14000.0          15232.0
9      wajid     25          8925.0  26775.0  13000.0          13775.0
10     kayum     27          8316.0  24948.0  16500.0           8448.0
11    zishan     15          7260.0  21780.0   9500.0          12280.0
12  mukarram     10          4000.0  12000.0   5000.0           7000.0
13      khan      7          2975.0   8925.0   4000.0           4925.0
14   mujahid      7          2660.0   7980.0   4000.0           3980.0
15    dinesh      4          1860.0   5580.0   3820.0           1760.0
16     jahid      4          1740.0   5220.0   4000.0           1220.0
17     amjad      3          1191.0   3573.0   4000.0           -427.0
18   mehmood      3          1062.0   3186.0      0.0           3186.0

In [0]:
final.append({'Name': 'Total', 'Counts': sum(final.Counts), 'Total Quantity':sum(final['Total Quantity']),	'Amount':sum(final.Amount),
              'Diesel':sum(final.Diesel), 'Amount - Diesel':sum(final['Amount - Diesel'])}, ignore_index = True)

        Name Counts  Total Quantity    Amount    Diesel  Amount - Diesel
0      imran     57         22629.0   67887.0   35500.0          32387.0
1     gulfam     47         19317.0   57951.0   30500.0          27451.0
2   khurseed     44         17154.0   51462.0   31500.0          19962.0
3     saddam     36         16740.0   50220.0   26000.0          24220.0
4      akram     41         14760.0   44280.0   21000.0          23280.0
5      bhura     36         14292.0   42876.0   24000.0          18876.0
6     julfan     32         12480.0   37440.0   22500.0          14940.0
7      jabir     28         11648.0   34944.0   16000.0          18944.0
8      rasid     24          9744.0   29232.0   14000.0          15232.0
9      wajid     25          8925.0   26775.0   13000.0          13775.0
10     kayum     27          8316.0   24948.0   16500.0           8448.0
11    zishan     15          7260.0   21780.0    9500.0          12280.0
12  mukarram     10          4000.0   12000.0    5000.0           7000.0
13      khan      7          2975.0    8925.0    4000.0           4925.0
14   mujahid      7          2660.0    7980.0    4000.0           3980.0
15    dinesh      4          1860.0    5580.0    3820.0           1760.0
16     jahid      4          1740.0    5220.0    4000.0           1220.0
17     amjad      3          1191.0    3573.0    4000.0           -427.0
18   mehmood      3          1062.0    3186.0       0.0           3186.0
19     Total    450        178753.0  536259.0  284820.0         251439.0

In [0]:
final.shape

(19, 6)

In [0]:
final.sum(axis = 0, skipna = True)

Name               imrangulfamkhurseedsaddamakrambhurajulfanjabir...
Counts                                                           450
Total Quantity                                                178753
Amount                                                        536259
Diesel                                                        284820
Amount - Diesel                                               251439
dtype: object

In [0]:
total_q = sum(final['Total Quantity'])
total_q

178753.0

# Total payable